* {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    height: 250px; 
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    align-self: flex-start;
    justify-content: flex-start;
    margin-left: 100px;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    display: flex;
}


a {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

.footer {
    color: white;
    background-color: #1F2937;
    height: 72px;
    display: flex;
}

